<%-include('header'); %>

<h2>This is About page</h2>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore nostrum
  ducimus blanditiis ipsam neque, dolores reprehenderit facilis recusandae ea
  tempora modi deserunt minus eaque sint, quia tenetur dolor, vel et?
</p>

<%-include('footer'); %>